In [7]:
# Action1：求2+4+6+8+...+100的求和，用Python该如何写
a=2
sum = 0
while a<101:
 sum=sum+a
 a=a+2
print(sum)

2550

In [46]:
import numpy as np
arange=np.arange(2,101,2)
sum=np.sum(arange)
print(arange)
print(sum)

[  2   4   6   8  10  12  14  16  18  20  22  24  26  28  30  32  34  36
  38  40  42  44  46  48  50  52  54  56  58  60  62  64  66  68  70  72
  74  76  78  80  82  84  86  88  90  92  94  96  98 100]
2550

In [97]:
# 统计全班的成绩
# 班里有5名同学，现在需要你用Python来统计下这些人在语文、英语、数学中的平均成绩、最小成绩、最大成绩、方差、标准差。然后把这些人的总成绩排序，得出名次进行成绩输出（可以用numpy或pandas）
# coding=utf-8
import pandas as pd
data = {'语文': [68, 95, 98, 90, 80], '数学': [65, 76, 86, 88, 90], '英语': [30, 98, 88, 77, 90]}
#print(data)
df = pd.DataFrame(data,index=['张飞', '关羽', '刘备', '典韦','许诸'])
df.index.name='姓名'
df1=df.describe().loc[['mean','max','min','std']]
print(df1)
df['总分']=df.sum(axis=1)
df['名次']=df['总分'].rank()
df.sort_values('总分',ascending=0)

             语文         数学         英语
mean  86.200000  81.000000  76.600000
max   98.000000  90.000000  98.000000
min   68.000000  65.000000  30.000000
std   12.255611  10.440307  27.107195

    语文  数学  英语   总分   名次
姓名
刘备  98  86  88  272  5.0
关羽  95  76  98  269  4.0
许诸  80  90  90  260  3.0
典韦  90  88  77  255  2.0
张飞  68  65  30  163  1.0

In [63]:
# 对汽车投诉信息进行分析 

#Step1，数据加载
import pandas as pd
result = pd.read_csv('car_data_analyze/car_complain.csv')
#print(result)


#Step2，数据预处理   拆分problem类型 => 多个字段
result = result.drop('problem', 1).join(result.problem.str.get_dummies(','))
#print(result)

#Step3，数据统计     对数据进行探索：品牌投诉总数，车型投诉总数 哪个品牌的平均车型投诉最多
df= result.groupby(['brand'])['id'].agg(['count']).sort_values('count',ascending=0)
print('品牌投诉总数：','\n',df)
df2= result.groupby(['car_model'])['id'].agg(['count']).sort_values('count',ascending=0)
print('车型投诉总数：','\n',df2)
df3= result.groupby(['brand','car_model'])['id'].agg(['count']).groupby(['brand']).mean().sort_values('count',ascending=0)
print('平均车型投诉最多的品牌：','\n',df3)

品牌投诉总数：
          count
brand
吉利汽车        96
一汽马自达       95
一汽-大众       52
上汽大众        36
一汽-大众奥迪     19
...        ...
开瑞汽车         1
天津一汽         1
凯翼汽车         1
奇瑞新能源        1
东风风行         1

[75 rows x 1 columns]
车型投诉总数：
            count
car_model
阿特兹           75
星越            43
速腾            22
马自达CX-4       20
博越            13
...          ...
悦翔             1
捷豹XEL          1
捷豹XFL          1
撼路者            1
高尔夫（进口）        1

[212 rows x 1 columns]
平均车型投诉最多的品牌：
             count
brand
一汽马自达   47.500000
吉利汽车     9.600000
一汽-大众    8.666667
一汽大众     6.000000
广汽丰田     5.666667
...           ...
宝马（进口）   1.000000
凯翼汽车     1.000000
一汽吉林     1.000000
广汽乘用车    1.000000
东南汽车     1.000000

[75 rows x 1 columns]